{% extends "app/layout.html" %} {% load static %} {% block content %}

<div class="profile-page">
    <img src="{% static '/assets/img/dots.png'%}" class="dots">
    <img src="{% static '/assets/img/path-4.png'%}" class="path">
    <div class="">
        <div class="main">
            <div class="section section-basic m-b-100 m-t-120" id="basic-elements">
                <div class="content p-l-50">
                    <div class="col-lg-7">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="media p-l-10">
                                        {% if call.group.pic_path %}
                                        <img class="image rounded-circle account-img" src="{{ call.group.pic_path.url }}" alt="group image" width="80" height="80"> {% else %}
                                        <img class="image rounded-circle account-img" src="{% static 'imgs/default_group_pic.png' %}" alt="group image" width="80" height="80"> {% endif %}
                                        <div class="media-body p-t-25 p-l-10">
                                            <div class="p-l-10">
                                                <a class="account-heading text-info h3" href="{% url 'viewGroup' call.group.id%}">{{ call.group.name }}</a>
                                            </div>
                                        </div>
                                        <div class="divider d-none d-sm-block"></div>
                                        <div class="p-t-15 p-l-20">
                                            <a class="text-danger h4" href="{% url 'group_meeting' call.id %}">{{ call.title }}</a>
                                            <p class="text-black-50"> Date: {{ call.call_date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col mr-9">
                            <div class="h5 font-weight-bold text-info text-uppercase mb-1 m-l-10">Record</div>
                            <div class="row no-gutters align-items-center">
                                <audio controls class="col-lg-9">
                             <source src="{{ call.audio_file_path.url }}" type="audio/wav">
                             Your browser does not support the audio element.
                          </audio>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="h5 font-weight-bold text-warning text-uppercase mb-1 m-l-25">Speech to text</div>
                            <div class="card border-bottom-warning m-l-20">
                                <div class="card-body row no-gutters">
                                    <div class="">
                                        <div class="">
                                            <iframe class="" src="{{ call.stt_file_path.url }}" frameborder="0" height="310" width="880"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-t-20">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="downloadStt" name="download_stt" value="false">
                                <button type="submit" class="btn btn-warning" id="downloadSttButton">
                              <i class="fas fa-download fa-sm fa-fw  text-white"></i>
                         </button>
                            </form>
                        </div>
                    </div>
                    <div class="row m-b-70">
                        <div class="col-lg-9">
                            <div class="h5 font-weight-bold text-default text-uppercase mb-1 m-l-25 m-t-50">Meeting summary</div>
                            <div class="card border-bottom-success m-l-20">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col mr-9">
                                        <div class="row no-gutters align-items-center">
                                            <iframe src="{{ call.sum_file_path.url }}" frameborder="0" height="310" width="880"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 m-t-70">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="downloadSummary" name="download_summary" value="false">
                                <button type="submit" class="btn btn-success" id="downloadSummaryButton">
                              <i class="fas fa-download fa-sm fa-fw  text-white"></i>
                         </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block scripts %}
<script>
    $('#downloadSummaryButton').click(function() {
        $('#downloadSummary').val('true');
    });
</script>
<script>
    $('#downloadSttButton').click(function() {
        $('#downloadStt').val('true');
    });
</script>
{% endblock %}