<tbody>
    {% for call in calls %}
    <tr>
        {% if call.state == 3 %}
        <td>
            <a class="account-heading text-dark" href="{% url 'group_meeting' call.id %}">{{call.title}}</a>
        </td>
        {% else %}
        <td>
            <label class="account-heading text-dark">{{call.title}}</label>
        </td>
        {% endif %}
        <td>
            <a class="account-heading text-black-50" href="{% url 'viewGroup' call.group.id %}">{{call.group.name}}</a>
        </td>

        <td><label class="account-heading text-black-50">{{call.call_date}}</label></td>

        <td>
            {% if call.state == 0 %}
            <div class="spinner-border spinner-border-sm text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="text-black-50">uploading </span> {% elif call.state == 1 %}
            <div class="spinner-border spinner-border-sm text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="text-black-50">speech recognition </span> {% elif call.state == 2 %}
            <div class="spinner-border spinner-border-sm text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="text-black-50">summarize </span> {% elif call.state == 3 %}
            <i class="mdi mdi-check-all text-success"></i>
            <span class="text-black-50">complete</span> {% endif %}
        </td>

    </tr>
    {% endfor %}
</tbody>