{% extends "app/layout.html" %} {% block content %} {% load static %}

<div class="profile-page">
    <div class="squares square11"></div>
    <div class="squares square22"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="">
        <div class="page-header header-filter">
            <div class="content p-t-120">
                <span class="text-danger h2"><i class="mdi mdi-upload-outline"></i> <span class="text-info">Upload audio meeting</span></span>
                <span class="text-black-50">({{group.name}})</span>
                <div class="row m-t-20">
                    <!-- Border Left Utilities -->
                    <div class="col-md-7 ml-auto col-xl-7 mr-auto">
                        <div class="card shadow " align="center">
                            <div class="card-header py-3">
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="error_flag" value="{{ error }}" />
                                <input type="hidden" id="convertType" name="convert_type" value="2">
                                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="form-group col-lg-8 p-l-35 p-r-35">
                                        <div class="form-group"> {{ form.title }} </div>
                                    </div>
                                    <div class="input-group col-lg-7">
                                        {{form.audio_file_path}}
                                        <label class="custom-file-label text-black-50">Choose file</label> {% if form.audio_file_path.errors %} {% endif %}
                                    </div>
                                    <div class="form-group col-lg-8 p-l-35 p-r-35 m-t-20 m-b-40">
                                        <input type="submit" value="Upload" class="btn btn-success btn-user btn-block" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="section section-basic m-b-100 " id="basic-elements ">
                <div class="content ">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- error file modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger" id="errorModalLabel">Can't Read Files</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
            </div>
            <div class="modal-body">Your audio couldn't be uploaded. audio should be saved as wav files.</div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script>
    //the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script>
    var flag = $("[name='error_flag']").val()
    if (flag == 1) {
        $('#errorModal').modal('show');
    }
</script>
{% endblock %}