{% extends "app/layout.html" %} {% load static %} {% load staticfiles %} {% block content %}

<div class="index-page">
    <div class="page-header header-filter">
        <div class="squares square11"></div>
        <div class="squares square22"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square7"></div>

        <div class="container">
            {% if validlink %}
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-lg-6 d-none d-lg-block p-t-160 p-r-60"><img src="{% static '/imgs/reset_password.png'%}" alt=""></div>

                <div class="col-lg-6 col-md-9 p-t-90">
                    <div class="card o-hidden border-0 shadow-lg my-5 p-t-30 p-b-30">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h3 text-danger mb-4">Reset your password</h1>
                                </div>
                                <form action="." method="post">
                                    {% csrf_token %} {% for field in form %}
                                    <div class="form-group">
                                        {{ field }}
                                    </div>
                                    {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                    {% endfor %} {% endfor %}
                                    <input type="submit" value="Login" class="btn btn-info btn-user btn-block" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-lg-6 d-none d-lg-block p-t-80 p-r-60"><img src="{% static '/imgs/not-found.png'%}" alt=""></div>

                <div class="col-lg-6 col-md-9 p-t-90">
                    <div class="card o-hidden border-0 shadow-lg my-5 p-t-30 p-b-30">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5 m-t-20 m-b-20">
                                <div class="text-center">
                                    <h1 class="h2 text-danger mb-4">Invalid link !</h1>
                                </div>
                                <hr>
                                <p class="mb-4 text-dark">
                                    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}