{% load static %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endblock %}
    <title>{{ title }} - Meetapp•</title>
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

    <!-- Nucleo Icons -->
    <link rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css' %}" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/blk-design-system.css' %}" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{% static 'assets/demo/demo.css' %}" />
    <link href="{% static 'assets/css/util.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/vendor/fontawesome-free/css/all.min.css' %}" />
    <link href="{% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap4/css/bootstrap-min.css' %}" rel="stylesheet">

</head>

<body class="index-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{% url 'home' %}" rel="tooltip" title="Smart meeting app" data-placement="bottom">
                    <span>Meetapp•</span>
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>Meetapp•</a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                               <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %} {% load notifications_tags %} {% load notifications %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="fa fa-cogs d-lg-none d-xl-none"></i> Groups
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="{% url 'group_meetings' %}" class="dropdown-item">
                                <i class="tim-icons icon-paper"></i> meetings
                            </a>
                            <a href="{% url 'creategroup' %}" class="dropdown-item">
                                <i class="tim-icons icon-bullet-list-67"></i> create new group
                            </a>
                        </div>
                    </li>

                    <!-- Nav Item - notifications -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="tim-icons icon-bell-55"></i>
                            <!-- Counter - Alerts -->
                            {% notifications_unread as unread_count %} {% if unread_count %}
                            <span class="badge badge-danger badge-counter">{% live_notify_badge %}</span> {% endif %}
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                            <!-- <h6 class="dropdown-header">
                                Notifications
                            </h6> -->
                            <div class="scrollable-menu">
                                {% notify_list user as notices %} {% for notice in notices %} {% if notice.verb == "add_group" %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'viewGroup' notice.target.id notice.id %}">
                                    <div class="row">
                                        <div class="mr-3 col-lg-2">
                                            <div class="icon-circle">
                                                {% if notice.target.pic_path %}
                                                <img class="img img-center img-fluid rounded-circle" src="{{notice.target.pic_path.url}}" alt="group image"> {% else %}
                                                <img class="img img-center img-fluid rounded-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                                            </div>
                                        </div>
                                        <div class="mr-3 col-lg-8">
                                            <span class="font-weight-bold"> {{notice.target.creator.username}}</span> added you to <span class="font-weight-bold">"{{notice.target.name}}"</span> group
                                            <div class="small text-gray-500"> {{notice.timesince}} </div>
                                        </div>
                                        <div class="col-lg-1">
                                            {% if notice.unread %}
                                            <div class="unread-circle bg-primary m-t-20"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% elif notice.verb == "friend_req" %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' notice.target.username notice.id 0 %}">
                                    <div class="row">
                                        <div class="mr-3 col-lg-2">
                                            <div class="icon-circle">
                                                {% if notice.target.user_profile.pic_path %}
                                                <img class="img img-center img-fluid rounded-circle" src="{{notice.target.user_profile.pic_path.url}}" alt="user image"> {% else %}
                                                <img class="img img-center img-fluid rounded-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="group image"> {% endif %}
                                            </div>
                                        </div>
                                        <div class="mr-3 col-lg-8">
                                            <span class="font-weight-bold"> {{notice.target.username}}</span> sent you a friend request
                                            <div class="small text-gray-500"> {{notice.timesince}} </div>
                                        </div>
                                        <div class="col-lg-1">
                                            {% if notice.unread %}
                                            <div class="unread-circle bg-primary m-t-20"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% elif notice.verb == "accept_req" %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' notice.target.username notice.id 0 %}">
                                    <div class="row">
                                        <div class="mr-3 col-lg-2">
                                            <div class="icon-circle">
                                                {% if notice.target.user_profile.pic_path %}
                                                <img class="img img-center img-fluid rounded-circle" src="{{notice.target.user_profile.pic_path.url}}" alt="user image"> {% else %}
                                                <img class="iimg img-center img-fluid rounded-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="group image"> {% endif %}
                                            </div>
                                        </div>
                                        <div class="mr-3 col-lg-8">
                                            <span class="font-weight-bold"> {{notice.target.username}}</span> accept your friend request
                                            <div class="small text-gray-500"> {{notice.timesince}} </div>
                                        </div>
                                        <div class="col-lg-1">
                                            {% if notice.unread %}
                                            <div class="unread-circle bg-primary m-t-20"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% elif notice.verb == "finish_nlp" %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'group_meeting' notice.target.id notice.id %}">
                                    <div class="row">
                                        <div class="mr-3 col-lg-2">
                                            <div class="icon-circle">
                                                {% if notice.target.group.pic_path %}
                                                <img class="img img-center img-fluid rounded-circle" src="{{notice.target.group.pic_path.url}}" alt="group image"> {% else %}
                                                <img class="img img-center img-fluid rounded-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                                            </div>
                                        </div>
                                        <div class="mr-3 col-lg-8">
                                            <div class="font-weight-bold">{{notice.target.group.name}}</div>
                                            Meeting "<span class="font-weight-bold"> {{notice.target.title}}</span>" summary has been finished.
                                            <div class="small text-gray-500"> {{notice.timesince}} </div>
                                        </div>
                                        <div class="col-lg-1">
                                            {% if notice.unread %}
                                            <div class="unread-circle bg-primary m-t-20"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% elif notice.verb == "upload_meeting" %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'group_meetings' notice.id %}">
                                    <div class="row">
                                        <div class="mr-3 col-lg-2">
                                            <div class="icon-circle">
                                                {% if notice.target.group.pic_path %}
                                                <img class="img img-center img-fluid rounded-circle" src="{{notice.target.group.pic_path.url}}" alt="group image"> {% else %}
                                                <img class="img img-center img-fluid rounded-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                                            </div>
                                        </div>
                                        <div class="mr-3 col-lg-8">
                                            <div class="font-weight-bold">{{notice.target.group.name}}</div>
                                            {% if notice.actor.id == user.id %} Your audio meeting "<span class="font-weight-bold"> {{notice.target.title}}</span>" has been uploaded. {% else %}
                                            <span class="font-weight-bold">{{notice.actor.username}}</span> uploaded an audio meeting "
                                            <span class="font-weight-bold">{{notice.target.title}}</span>". {% endif %}
                                            <div class="small text-gray-500"> {{notice.timesince}} </div>
                                        </div>
                                        <div class="col-lg-1">
                                            {% if notice.unread %}
                                            <div class="unread-circle bg-primary m-t-20"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                                {% endif %} {% endfor %}
                                <a class="dropdown-item text-center small text-gray-500" href="{% url 'notifications' %}">Show All Alerts</a>
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-linke" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline">{{ user.username }}</span> {% if user.user_profile.pic_path %}
                            <img class="img-profile rounded-circle" src="{{ user.user_profile.pic_path.url  }}" alt="My image" width="30" height="30"> {% else %}
                            <img class="img-profile rounded-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="My image" width="30" height="30"> {% endif %}
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'profile' user.username %}">
                                <i class="tim-icons icon-single-02 text-black-50"></i> Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'accountsettings' %}">
                                <i class="tim-icons icon-settings-gear-63 text-black-50"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                <i class="tim-icons icon-button-power text-black-50"></i> Logout
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-default d-none d-lg-block" href="{% url 'signup' %}">
                             Register
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1 class="title">Meetapp•</h1>
                        <span>&copy; {{ year }} - Smart meeting app</span>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link">
                                   Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                  Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="title">Follow us:</h3>
                        <div class="btn-wrapper profile">
                            <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a target="_blank" href="#" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static '/assets/js/plugins/bootstrap-switch.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static '/assets/js/plugins/nouislider.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static '/assets/js/plugins/chartjs.min.js' %}"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="{% static '/assets/js/plugins/moment.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static '/assets/demo/demo.js' %}"></script>
    <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/js/blk-design-system.min.js' %}" type="text/javascript"></script>
    <!-- notifications scripts -->
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks refresh_period='5' callbacks='fill_notification_list,fill_notification_badge' %} {% block scripts %} {% endblock %}
</body>

</html>