{% extends "app/layout.html" %} {% load static %} {% block content %}
<div class="index-page">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square7"></div>

        <div class="container">
            <div class="justify-content-center p-t-100" align="center">
                <img src="{% static 'imgs/404 error page.png' %} " alt="error not found" width="900 " height="350 ">
                <div class="text-center">
                    <p>
                        <span class="h1 text-danger">Page not found!</span><br>
                        <span class="h4 text-black-50 ">request page is not found</span>
                    </p>
                    <a href="{%url 'home' %} ">&larr; Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}