{% extends "app/layout.html" %} {% load static %} {% load notifications %} {% block content %}
<!-- Dropdown - Alerts -->
<div class="">
    <h6 class="dropdown-header">
        Notifications
    </h6>
    <div class="">
        {% notify_list user as notices %}
        {% for notice in notices %} 
        {% if notice.verb == "add_group" %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'viewGroup' notice.target.id notice.id %}">
                <div class="row">
                    <div class="mr-3 col-lg-2">
                        <div class="icon-circle bg-primary">
                            {% if notice.target.pic_path %}
                            <img class="image icon-circle " src="{{notice.target.pic_path.url}}" alt="group image"> {% else %}
                            <img class="image icon-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <span class="font-weight-bold"> {{notice.target.creator.username}}</span> added you to <span class="font-weight-bold">"{{notice.target.name}}"</span> group
                        <div class="small text-gray-500"> {{notice.timesince}} </div>
                    </div>
                    <div class="col-lg-1">
                        {% if notice.unread %}
                        <div class="unread-circle bg-primary m-t-20"></div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% elif notice.verb == "friend_req" %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' notice.target.username notice.id %}">
                <div class="row">
                    <div class="mr-3 col-lg-2">
                        <div class="icon-circle bg-primary">
                            {% if notice.target.user_profile.pic_path %}
                            <img class="image icon-circle " src="{{notice.target.user_profile.pic_path.url}}" alt="user image"> {% else %}
                            <img class="image icon-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="group image"> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <span class="font-weight-bold"> {{notice.target.username}}</span> sent you a friend request
                        <div class="small text-gray-500"> {{notice.timesince}} </div>
                    </div>
                    <div class="col-lg-1">
                        {% if notice.unread %}
                        <div class="unread-circle bg-primary m-t-20"></div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% elif notice.verb == "accept_req" %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' notice.target.username notice.id %}">
                <div class="row">
                    <div class="mr-3 col-lg-2">
                        <div class="icon-circle bg-primary">
                            {% if notice.target.user_profile.pic_path %}
                            <img class="image icon-circle " src="{{notice.target.user_profile.pic_path.url}}" alt="user image"> {% else %}
                            <img class="image icon-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="group image"> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <span class="font-weight-bold"> {{notice.target.username}}</span> accept your friend request
                        <div class="small text-gray-500"> {{notice.timesince}} </div>
                    </div>
                    <div class="col-lg-1">
                        {% if notice.unread %}
                        <div class="unread-circle bg-primary m-t-20"></div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% elif notice.verb == "finish_nlp" %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'group_meeting' notice.target.id notice.id %}">
                <div class="row">
                    <div class="mr-3 col-lg-2">
                        <div class="icon-circle bg-primary">
                            {% if notice.target.group.pic_path %}
                            <img class="image icon-circle " src="{{notice.target.group.pic_path.url}}" alt="group image"> {% else %}
                            <img class="image icon-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="font-weight-bold">{{notice.target.group.name}}</div>
                        Meeting "<span class="font-weight-bold"> {{notice.target.title}}</span>" summary has been finished.
                        <div class="small text-gray-500"> {{notice.timesince}} </div>
                    </div>
                    <div class="col-lg-1">
                        {% if notice.unread %}
                        <div class="unread-circle bg-primary m-t-20"></div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% elif notice.verb == "upload_meeting" %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'group_meetings' notice.id %}">
                <div class="row">
                    <div class="mr-3 col-lg-2">
                        <div class="icon-circle bg-primary">
                            {% if notice.target.group.pic_path %}
                            <img class="image icon-circle " src="{{notice.target.group.pic_path.url}}" alt="group image"> {% else %}
                            <img class="image icon-circle" src="{% static 'imgs/default_group_pic.png' %}" alt="group image"> {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="font-weight-bold">{{notice.target.group.name}}</div>
                        {% if notice.actor.id == user.id %} Your audio meeting "<span class="font-weight-bold"> {{notice.target.title}}</span>" has been uploaded. {% else %}
                        <span class="font-weight-bold">{{notice.actor.username}}</span> uploaded an audio meeting "
                        <span class="font-weight-bold">{{notice.target.title}}</span>". {% endif %}
                        <div class="small text-gray-500"> {{notice.timesince}} </div>
                    </div>
                    <div class="col-lg-1">
                        {% if notice.unread %}
                        <div class="unread-circle bg-primary m-t-20"></div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% comment %} {% load notifications_tags %}
{% live_notify_list %} {% endcomment %}


{% endblock %} {% block scripts %} {% endblock %}