{% extends "app/layout.html" %} {% load static %} {% load client %} {% block content %}

<div class="profile-page">
    <div class="squares square11"></div>
    <div class="squares square22"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>

    <div class="">
        <div class="page-header header-filter">
            <div class="content p-t-60">
                <div class="row">
                    <!-- Border Left Utilities -->
                    <div class="col-lg-5 m-r-30 m-t-50 p-1-30">
                        <h1 class="p-l-5 text-black-50 p-l-80" align="left"><i class="fas fa-phone fa-sm m-r-10"></i>
                            <span id="hours"></span>:
                            <span id="minutes"></span>:
                            <span id="seconds"></span>
                        </h1>
                        <div class="col-lg-7 media p-l-50">
                            <div class="imgcontainer">
                                {% if group.pic_path %}
                                <img class="image rounded-circle account-img " src="{{ group.pic_path.url }}" alt="group image" width="80" height="80"> {% else %}
                                <img class="image rounded-circle account-img " src="{% static 'imgs/default_group_pic.png' %}" alt="group image" width="80" height="80"> {% endif %}
                            </div>
                            <div class="media-body p-t-25 p-r-30">
                                <div class="">
                                    <a class="account-heading text-info h4" href="{% url 'viewGroup' group.id %}">{{ group.name }}</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p class="text-black-50 p-l-50" align="left"> hosted by: {{ group.creator.username }}</p>

                        <!---<p class="text-secondary p-l-10"> start at: {% call_time group %}</p>-->
                        <input type="hidden" id="time" value="{% call_time group %}">
                        <div class="row p-t-20 p-l-30">
                            <div class="col-lg-4">
                                <button class="btn btn-success" data-target="#inviteModal" data-toggle="modal">
                                       <i class="fas fa- fa-user-plus fa-fw"></i>
                                        Invite
                               </button>
                            </div>
                            <div class="col-lg-4 p-r-60">
                                {% if group.creator == user %}
                                <form action="{% url 'groupCall' group.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="endCall" name="end_call" value="false">
                                    <button type="submit" class="btn btn-danger" id="end">
                                    <i class="fas fa-phone-slash fa-sm fa-fw"></i>
                                    End call
                                    </button>
                                </form>
                                {% else %}
                                <form action="{% url 'groupCall' group.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="leaveCall" name="leave_call" value="false">
                                    <button type="submit" class="btn btn-danger" id="leave">
                                    <i class="fas fa-phone-slash fa-sm fa-fw mr-2 text-gray-400"></i>
                                    leave call
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="py-4">
                            <div class="card mb-4">
                                <!-- Card Content - Collapse -->
                                <div class="card-body border-left-primary">
                                    <p class="h3 p-l-5 text-danger"> Joined members </p>
                                    {% for member in group.members.all %} {% if member|in_call:group == 1 %}
                                    <div class="row p-l-5">
                                        <div class="col-lg-6 m-l-15">
                                            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' member.username %}">
                                                <div class="icon-circle mr-3">
                                                    {% if member.user_profile.pic_path %}
                                                    <img class="img-profile rounded-circle" src="{{ member.user_profile.pic_path.url  }}" alt="user image" width="50" height="50"> {% else %}
                                                    <img class="img-profile rounded-circle" src="{% static 'imgs/default_user_pic.png' %}" alt="user image" width="50" height="50"> {% endif %}
                                                </div>
                                                <div>
                                                    {% if user == member %}
                                                    <span class="font-weight-bold">You</span> {% else %}
                                                    <span class="font-weight-bold">{{member.username}}</span> {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                        <hr class="col-lg-11">
                                    </div>
                                    {% endif %} {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="section section-basic m-b-100 " id="basic-elements ">
                <div class="content ">
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Invite Modal-->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-danger" id="inviteModalLabel">Invite members</h2>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="lead modal-body">
                <div class="text-black h4">Call join invite code:</div>
                <p class="text-info mb-5 h4" id="inviteCode">{{ group.invite_code }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="copyToClipboard('#inviteCode')">
                    <i class="fas fa-copy fa-fw mr-2 text-gray-400"></i>Copy</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script>
    var sec = +$("#time").val();

    function pad(val) {
        return val > 9 ? val : "0" + val;
    }

    function min(val) {
        while (val > 60)
            val -= 60;
        return val;
    }
    setInterval(function() {
        $("#seconds").html(pad(++sec % 60));
        $("#minutes").html(pad(parseInt(min(sec / 60), 10)));
        $("#hours").html(pad(parseInt(sec / (60 * 60), 10)));
    }, 1000);
</script>
<script>
    $('#end').click(function() {
        $('#endCall').val('true');
    });
</script>
<script>
    $('#leave').click(function() {
        $('#leaveCall').val('true');
    });
</script>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        $temp.focus(); //force focus
        document.execCommand("copy");
        $temp.remove();
    }
</script>
{% endblock %}