{% extends "app/layout.html" %} {% load static %} {% load staticfiles %} {% block content %}

<div class="index-page">
    <div class="page-header header-filter">
        <div class="squares square11"></div>
        <div class="squares square22"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square7"></div>

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-lg-6 d-none d-lg-block p-t-140 p-r-60"><img src="{% static '/imgs/reset_password.png'%}" alt=""></div>

                <div class="col-lg-6 col-md-9 p-t-90">
                    <div class="card o-hidden border-0 shadow-lg my-5 p-t-30 p-b-30">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h3 text-danger mb-2">Your password has been changed!</h1>
                                    <p class="mb-4 text-dark">
                                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}