{% extends "app/layout.html" %} {% load static %} {% load staticfiles %} {% block content %}


<div class="index-page">
    <div class="page-header header-filter">
        <div class="squares square11"></div>
        <div class="squares square22"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square7"></div>

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-lg-6 d-none d-lg-block p-t-80 p-r-60"><img src="{% static '/imgs/forget_password.png'%}" alt=""></div>

                <div class="col-lg-6 col-md-9 p-t-70">
                    <div class="card o-hidden border-0 shadow-lg my-5 p-t-30 p-b-30">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->

                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h3 text-danger mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4 text-dark">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                    <input type="submit" value="Reset Password" class="btn btn-info btn-user btn-block h m-b-50" />
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}