{% extends "app/layout.html" %} {% block content %} {% load static %}

<div class="profile-page">
    <img src="{% static '/assets/img/dots.png'%}" class="dots">
    <img src="{% static '/assets/img/path-4.png'%}" class="path">
    <div class="">
        <div class="page-header header-filter">
            <div class="content p-t-120 p-b-200">
                <span class="text-danger h1"><i class="mdi mdi-cogs"></i>  Settings</span>
                <div class="row m-t-20">
                    <!-- Border Left Utilities -->
                    <div class="col-md-10 ml-auto col-xl-10 mr-auto">
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs nav-tabs-primary justify-content-center" id="settingTab">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#EditInfo" data-toggle="tab"><i class="tim-icons icon-single-02"></i>
                                          General</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Changepassword" data-toggle="tab"><i class="tim-icons icon-lock-circle"></i>
                                          password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#BlockList" data-toggle="tab"><i class="mdi mdi-account-cancel-outline"></i>
                                          Block list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#DeleteAccount" data-toggle="tab"><i class="tim-icons icon-trash-simple"></i>
                                          Delete account</a>
                                    </li>
                                </ul>
                                <div class="tab-content py-4">
                                    <div class="tab-pane fade show active" id="EditInfo" align="left">
                                        <div class="collapse show p-l-100" id="editform" role="tabpanel">
                                            <form action="." method="post">
                                                {% csrf_token %}
                                                <input type="hidden" id="userInfo" name="user_info" value="false">
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50">First name</span>
                                                    <div class="col-lg-9">
                                                        {{user_form.first_name}}
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50">Last name</span>
                                                    <div class="col-lg-9">
                                                        {{user_form.last_name}}
                                                    </div>
                                                </div>
                                                {% if "Enter a valid email address." in user_form.email.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Email</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip " title="Enter a valid email address">
                                                        {{ user_form.email }}
                                                    </div>
                                                </div>
                                                {% elif "User with this Email address already exists." in user_form.email.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Email</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip " title="User with this Email address already exists.">
                                                        {{ user_form.email }}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50">Email</span>
                                                    <div class="col-lg-9">
                                                        {{user_form.email}}
                                                    </div>
                                                </div>
                                                {% endif %} {% if user_form.username.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Username</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip " title="A user with that username already exists. ">
                                                        {{user_form.username}}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Username</span>
                                                    <div class="col-lg-9 ">
                                                        {{user_form.username}}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="form-group row">
                                                    <label class="col-lg-9 col-form-label form-control-label"></label>
                                                    <div class="col-lg-2">
                                                        <input type="submit" class="btn btn-success" id="changeInfo" value="Save Changes">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="Changepassword" align="left">
                                        <div class="collapse show p-l-100 " id="editform " role="tabpanel">
                                            <form action="." method="post">
                                                {% csrf_token %}
                                                <input type="hidden" id="userPass" name="user_pass" value="false"> {% if password_form.old_password.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50">Old password</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip" title="Incorrect old password.">
                                                        {{password_form.old_password}}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Old password</span>
                                                    <div class="col-lg-9 ">
                                                        {{password_form.old_password}}
                                                    </div>
                                                </div>
                                                {% endif %} {% if password_form.new_password1.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50 ">New password</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip " title="The two new password fields didn't match">
                                                        {{password_form.new_password1}}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50 ">New password</span>
                                                    <div class="col-lg-9 ">
                                                        {{password_form.new_password1}}
                                                    </div>
                                                </div>
                                                {% endif %} {% if password_form.new_password2.errors %}
                                                <div class="row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Repeat password</span>
                                                    <div class="col-lg-9 form-group has-danger" rel="tooltip " title="The two new password fields didn't match">
                                                        {{password_form.new_password2}}
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group row">
                                                    <span class="col-lg-2 h4 text-black-50 ">Repeat password</span>
                                                    <div class="col-lg-9 ">
                                                        {{password_form.new_password2}}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="form-group row">
                                                    <label class="col-lg-9 col-form-label form-control-label"></label>
                                                    <div class="col-lg-2">
                                                        <input type="submit" class="btn btn-success" id="changePass" value="Save Changes">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="BlockList" align="left">
                                        <div class="m-l-30">
                                            {% if not block_list %}
                                            <div class="text-center ">
                                                <p class="h2 text-black-50 mb-5">Block list is empty</p>
                                            </div>
                                            {% endif %} {% for account in block_list %}
                                            <div class="row p-l-5 p-r-50">
                                                <div class="col-lg-9 m-l-50">
                                                    <div class="d-flex align-items-center">
                                                        <div class="icon-circle mr-3">
                                                            {% if account.to_user.pic_path %}
                                                            <img class="dropdown-list-image mr-3 " src="{{ account.to_user.pic_path.url }} " alt="group image " width="50 " height="50 "> {% else %}
                                                            <img class="dropdown-list-image mr-3 " src="{% static 'imgs/default_user_pic.png' %} " alt="group image " width="50 " height="50 "> {% endif %}
                                                        </div>
                                                        <div class="font-weight-bold">
                                                            <span class="font-weight-bold text-dark">{{account.to_user.first_name}} {{account.to_user.last_name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-black-50 p-t-10">
                                                    <form action="{% url 'accountsettings' account.to_user.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" id="unblockUser" name="unblock_user" value="false">
                                                        <button type="submit" class="btn" id="unblock">
                                                           <i class="mdi mdi-account-key text-gray"></i> unblock
                                                      </button>
                                                    </form>
                                                </div>
                                                <hr class="col-lg-11 m-l-50 m-r-50">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="DeleteAccount" align="left">
                                        <div class="m-l-30">
                                            <div class="text-center m-t-50">
                                                <span class="text-danger h2">Delete your Meetapp Account</span>
                                                <p class="h3 text-dark">
                                                    You can permanently delete your MeetApp Account <br> and all your data, like groups and messages.
                                                </p>
                                            </div>
                                            <div class="row ">
                                                <label class="col-lg-5"></label>
                                                <button class="btn btn-danger m-b-70" data-toggle="modal" data-target="#deleteAccountModal ">
                                                     Delete account
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="section section-basic m-b-100 " id="basic-elements ">
                <div class="content ">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete account Modal-->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountLabel">Delete account</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">Are you sure you want to delete your account?</div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form action="{% url 'accountsettings' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="deleteAcc" name="delete_account" value="false">
                    <button type="submit" class="btn btn-danger text-white" id="delete">
                  Delete
              </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script>
    $(document).ready(function() {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#settingTab a[href="' + activeTab + '"]').tab('show');
        }
    });
</script>
<script>
    $('#changeInfo').click(function() {
        $('#userInfo').val('true');
    });
</script>
<script>
    $('#changePass').click(function() {
        $('#userPass').val('true');
    });
</script>
<script>
    $('#unblock').click(function() {
        $('#unblockUser').val('true');
    });
</script>
<script>
    $('#delete').click(function() {
        $('#deleteAcc').val('true');
    });
</script>
{% endblock %}